/* import logo font fom google */
// @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');


@mixin breakpoint($size){
  @media screen and (max-width:$size) {
    @content    
  }
}


$font1:  'Allura', cursive;
$p-c: rgb(246, 254, 255);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagination{
 
  width: 200px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  button{
    font-size: 16px;
      padding: 10px;
      width: 100px;
      border-radius: 5px;
      font-weight: 700;
      border: 0;
      background-color: yellow ;
      text-transform: capitalize;
      background: linear-gradient(
        135deg,
        yellow,
      rgb(248, 43, 70)
        
      );
      cursor: pointer;
      color: rgba(44, 44, 44, 0.767);
      &:focus{
        outline: none;
      }
      &:hover{
        transform: translateY(2px);

      }

  }

}
.App{
  border-radius: 5px;
  background-color: rgb(248, 43, 70);
  width: 400px;
  min-height: 500px;
  margin: 40px auto;
  #to_do_form {
    // border: 3px solid yellow;
    input{
    width: 240px;
    height: 50px;
    padding: 0 10px;
    margin: 20px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    &::placeholder{
      color:rgba(48, 48, 48, 0.719);
      font-style: italic;

    }
    &:focus{
      outline: none;
    }
    }

    button{
      height: 50px;
      width: 80px;
      border-radius: 5px;
      font-weight: 700;
      border: 0;
      background-color: yellow;
      cursor: pointer;
      color: black;
      &:focus{
        outline: none;
      }
    }

  }

  .item{
    margin: 10px;
    padding: 5px 15px;
    background-color: yellow;
    color: black;
    width: 300px;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;  
    position: relative;
    p{
      font-weight: 700;
      
      span{
        position: absolute;
        right: 10px;
        cursor: pointer;
        
        svg{
          fill: rgb(248, 43, 70);
          width: 19px;
          &:hover{
            fill: rgb(41, 40, 40);
          }
     }
      }
    }
    
}

}